input{
    width: 60px;
    height: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4em;
    text-align: center;
    color:black;
    cursor: none;
}
body{
  background-color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

label{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  font-size: 5em;
}

button{
  font-size: 2em;
}

p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

h2{
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: x-large;
  color: white;
}

fieldset{
    border: 0cm;
}

.subBody{
  display: flex;
  flex-flow:row; 
  justify-content: center;     
}

form{
  width: 400px;
}

table{
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  color: white;
}

tr{
  margin-top: 3em;
  margin-bottom: 3em;
}


/* #formSub{
  display: flex;
  flex-flow: column;
} */

.elemBlock{
  width: 400px;
  height: 75px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: top;
}

.elemBlock2{
  width: 400px;
  height: 40px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: top;
}

#trofeo{
  padding-top: 6px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    display: flex;
    align-items: center;
    flex-flow: column;
    background-color: darkslategray;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 4px solid black;
    width: 60%; /* Could be more or less, depending on screen size */
    max-width: 500px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }